{% load static %}

<div class="row">
    <div class="col-4">
        <div class="profile-image">
        <img src="{% static profile.avatar %}" alt="Profile Picture" class="img-fluid" style="border: 1px solid white;">
        </div>
    </div>
    <div class="col-8">
        <div class="col-12">
            <div class="text-center">
                <h5 style="color: white; font-size: 15px">{{ profile.nickname }}</h5>
            </div>
        </div>
        <div class="row" style="width: 200px">
            <div class="col-6">
                    {% comment %} <a href="{% url 'settings' %}" class="text-decoration-none">Settings</a> {% endcomment %}
                    <a href="{% url 'settings' %}" class="text-decoration-none" style="font-size: 15px">Settings</a>
            </div>
            <div class="col-6">
                    {% comment %} <a href="{% url 'logout' %}" class="text-decoration-none">Log out</a> {% endcomment %}
                    <a href="{% url 'logout' %}" id="logout-btn" class="text-decoration-none" style="font-size: 15px">Log out</a>
            </div>
        </div>
    </div>
</div>
