{% extends 'layouts/base.html' %}

{% load static %}

{% block styles %}
<style>
    .selected-tag {
        background-color: green;
        color: white;
    }
</style>
{% endblock %}

{% block pop_tags %}
    {% include "layouts/tags.html" with popular_tags=popular_tags %}
{% endblock %}

{% block content %}
    <h1>Ask a Question</h1>
{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
{% endif %}
    <form action="{% url 'ask' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="titleInput" class="form-label">Title</label>
            <input type="text" class="form-control" id="titleInput" name="titleInput" maxlength="100" required pattern=".*\S+.*">
        </div>
        <div class="mb-3">
            <label for="contentInput" class="form-label">Content</label>
            <textarea class="form-control" id="contentInput" name="contentInput" rows="5" maxlength="500" required pattern=".*\S+.*"></textarea>
        </div>
        <div class="mb-3">
            <label for="tagsInput" class="form-label">Tags</label>
            <select class="form-select" id="tagsInput" name="selectedTags" multiple size="3">
                {% for tag in all_tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Ask</button>
    </form>

    <script>
        const tagsInput = document.getElementById('tagsInput');
        tagsInput.addEventListener('dblclick', function(event) {
            const selectedTag = event.target;
            selectedTag.classList.toggle('selected-tag');
        });
    </script>
{% endblock %}