{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<div class="questions-main">
    <h1>{{ question.title }}</h1>
</div>  

{% include 'components/question-item.html' with likes_count=question.likes %}

{% if answers %}
    {% for answer in answers %}
    {% include 'components/question-answer.html' with likes_count=answer.likes %}
    {% endfor %}
{% else %}
<div class="questions-main">
    <h1>No answers!</h1>
</div> 
{% endif %}

{% include 'components/question-make-answer.html' %}

{% endblock %}

{% if answers %}
    {% block bottom %}
    {% include 'components/question-pages.html' with paginated_data=answers %}
    {% endblock %}
{% endif %}